ALCHEMY_ETH_MAINNET_RPC='<string>'
ALCHEMY_ARB_ONE_RPC='<string>'
ALCHEMY_GNOSIS_RPC='<string>'
FILEBASE_TOKEN='<BUCKET_TOKEN>'

SUBGRAPH_KLEROS_DISPLAY_MAINNET=https://api.studio.thegraph.com/query/61738/kleros-display-mainnet/version/latest
SUBGRAPH_KLEROS_DISPLAY_GNOSIS=https://api.studio.thegraph.com/query/61738/kleros-display-gnosis/version/latest